
[MAIN]
disable=
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    line-too-long,
    too-many-locals,
    too-many-statements,
    too-many-branches,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-public-methods,
    too-few-public-methods,
    too-many-return-statements,
    too-many-nested-blocks,
    too-many-positional-arguments,
    invalid-name,
    duplicate-code,
    import-error,
    broad-exception-caught,
    unused-argument,
    too-many-ancestors,
    unused-variable,
    wrong-import-position,
    wrong-import-order,
    cyclic-import,
    consider-using-f-string,
    logging-format-interpolation,
    redefined-outer-name,
    attribute-defined-outside-init,
    import-outside-toplevel,
    redefined-builtin,
    no-else-return,
    inconsistent-return-statements,
    global-variable-not-assigned,
    no-name-in-module
